<div class="page-wrapper snipcss-IfkQD style-bdZ99" id="style-bdZ99">
    <div data-w-id="8902ab60-ff18-1ad1-7b19-201b504196ac" data-animation="over-right" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="sidebar-wrapper w-nav" >
      <div class="overflow-hidden snipcss0-0-0-1">
        <div class="sidebar-logo-section-container snipcss0-1-1-2" ><a href="/" class="sidebar-logo-link w-nav-brand snipcss0-2-2-3" aria-label="home" ><img src="https://paygeon.com/assets/images/logo.png" loading="eager" alt="Dashdark X Webflow Template - Logo" class="snipcss0-3-3-4"></a>
          <div data-w-id="8902ab60-ff18-1ad1-7b19-201b504196b1" class="sidebar-collapsed-icon-btn-wrapper snipcss0-2-2-5" >
            <div class="sidebar-collapsed-icon-btn snipcss0-3-5-6"><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d185db_sidebar-icon-dashdark-webflow-template.svg" loading="eager" alt="Dashdark X Webflow Template - Icon" class="snipcss0-4-6-7"></div>
          </div>
          <div data-w-id="8902ab60-ff18-1ad1-7b19-201b504196b4" class="sidebar-collapse-icon-container snipcss0-2-2-8" ><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d185da_sidebar-collapse-icon-dashdark-webflow-template.svg" loading="eager" alt="" class="snipcss0-3-8-9"></div>
        </div>
        <div class="sidebar-collapsed-divider snipcss0-1-1-10" ></div>
        <form action="/search" class="sidebar-search-wrapper w-form snipcss0-1-1-11" ><input type="search" class="input icon-inside-left w-input snipcss0-2-11-12" maxlength="256" name="query" placeholder="Search for..." id="search" required=""><input type="submit" value="" class="btn-inside-input-left w-button snipcss0-2-11-13"></form>
        <div class="position-relative---z-index-1 logo-and-icon-mobile-container snipcss0-1-1-14">
          <nav role="navigation" class="sidebar-menu-container w-nav-menu snipcss0-2-14-15">
            <div class="sidebar-menu-collapsed-overlay snipcss0-3-15-16" ></div>
            <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b504196bd" class="dropdown-wrapper sidebar-dropdown w-dropdown snipcss0-3-15-17">
              <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle snipcss0-4-17-18" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0" >
                <div class="flex snipcss0-5-18-19">
                  <div class="dashdark-custom-icon sidebar-link-icon snipcss0-6-19-20"></div>
                  <div class="text-200 sidebar-dropdown-text snipcss0-6-19-21" >Demo Pages</div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow snipcss0-5-18-22" ></div>
              </div>
              <nav class="sidebar-dropdown-list-wrapper w-dropdown-list snipcss0-4-17-23 style-HPH5o" id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                
              </nav>
            </div>
            <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b504196ce" class="dropdown-wrapper sidebar-dropdown w-dropdown snipcss0-3-15-28">
              <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle snipcss0-4-28-29" id="w-dropdown-toggle-1" aria-controls="w-dropdown-list-1" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0" >
                <div class="flex snipcss0-5-29-30">
                  <div class="dashdark-custom-icon sidebar-link-icon snipcss0-6-30-31"></div>
                  <div class="text-200 sidebar-dropdown-text snipcss0-6-30-32" >Dashboard</div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow snipcss0-5-29-33" ></div>
              </div>
              <nav class="sidebar-dropdown-list-wrapper w-dropdown-list snipcss0-4-28-34 style-AZWai" id="w-dropdown-list-1" aria-labelledby="w-dropdown-toggle-1">
                
              </nav>
            </div>
            <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b504196e1" class="dropdown-wrapper sidebar-dropdown w-dropdown snipcss0-3-15-40">
              <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle snipcss0-4-40-41" id="w-dropdown-toggle-2" aria-controls="w-dropdown-list-2" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0" >
                <div class="flex snipcss0-5-41-42">
                  <div class="dashdark-custom-icon sidebar-link-icon snipcss0-6-42-43"></div>
                  <div class="text-200 sidebar-dropdown-text snipcss0-6-42-44" >Features</div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow snipcss0-5-41-45" ></div>
              </div>
              <nav class="sidebar-dropdown-list-wrapper w-dropdown-list snipcss0-4-40-46 style-WpBU5" id="w-dropdown-list-2" aria-labelledby="w-dropdown-toggle-2">
               
              </nav>
            </div>
            <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b504196fe" class="dropdown-wrapper sidebar-dropdown w-dropdown snipcss0-3-15-57">
              <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle snipcss0-4-57-58" id="w-dropdown-toggle-3" aria-controls="w-dropdown-list-3" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0" >
                <div class="flex snipcss0-5-58-59">
                  <div class="dashdark-custom-icon sidebar-link-icon snipcss0-6-59-60"></div>
                  <div class="text-200 sidebar-dropdown-text snipcss0-6-59-61" >Users</div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow snipcss0-5-58-62" ></div>
              </div>
              <nav class="sidebar-dropdown-list-wrapper w-dropdown-list snipcss0-4-57-63 style-NkYtl" id="w-dropdown-list-3" aria-labelledby="w-dropdown-toggle-3">
             
              </nav>
            </div>
            <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b50419711" class="dropdown-wrapper sidebar-dropdown w-dropdown snipcss0-3-15-69">
              <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle snipcss0-4-69-70" id="w-dropdown-toggle-4" aria-controls="w-dropdown-list-4" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0" >
                <div class="flex snipcss0-5-70-71">
                  <div class="dashdark-custom-icon sidebar-link-icon snipcss0-6-71-72"></div>
                  <div class="text-200 sidebar-dropdown-text snipcss0-6-71-73" >Pricing</div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow snipcss0-5-70-74" ></div>
              </div>
              <nav class="sidebar-dropdown-list-wrapper w-dropdown-list snipcss0-4-69-75 style-o1Ihb" id="w-dropdown-list-4" aria-labelledby="w-dropdown-toggle-4">
                
              </nav>
            </div>
            <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b50419726" class="dropdown-wrapper sidebar-dropdown w-dropdown snipcss0-3-15-82">
              <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle snipcss0-4-82-83" id="w-dropdown-toggle-5" aria-controls="w-dropdown-list-5" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0" >
                <div class="flex snipcss0-5-83-84">
                  <div class="dashdark-custom-icon sidebar-link-icon snipcss0-6-84-85"></div>
                  <div class="text-200 sidebar-dropdown-text snipcss0-6-84-86" >Integrations</div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow snipcss0-5-83-87" ></div>
              </div>
              <nav class="sidebar-dropdown-list-wrapper w-dropdown-list snipcss0-4-82-88 style-5T8pe" id="w-dropdown-list-5" aria-labelledby="w-dropdown-toggle-5">
               
              </nav>
            </div>
            <div class="sidebar-divider snipcss0-3-15-93"></div>
            <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b50419738" class="dropdown-wrapper sidebar-dropdown w-dropdown snipcss0-3-15-94">
              <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle snipcss0-4-94-95" id="w-dropdown-toggle-6" aria-controls="w-dropdown-list-6" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0" >
                <div class="flex snipcss0-5-95-96">
                  <div class="dashdark-custom-icon sidebar-link-icon snipcss0-6-96-97"></div>
                  <div class="text-200 sidebar-dropdown-text snipcss0-6-96-98" >Component Library</div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow snipcss0-5-95-99" ></div>
              </div>
              <nav class="sidebar-dropdown-list-wrapper w-dropdown-list snipcss0-4-94-100 style-E5Di7" id="w-dropdown-list-6" aria-labelledby="w-dropdown-toggle-6">
                <div class="sidebar-dropdown-inner-wrapper snipcss0-5-100-101 style-XNaEY" id="style-XNaEY"><a href="/component-library/buttons" class="sidebar-dropdown-link icon-left w-inline-block snipcss0-6-101-102" tabindex="0"><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d18639_buttons-component-icon-small-dashdark-webflow-template.svg" loading="eager" alt="Buttons - Dashdark X Webflow Template" class="max-w-20px snipcss0-7-102-103">
                    <div class="snipcss0-7-102-104">Buttons</div>
                  </a><a href="/component-library/badges" class="sidebar-dropdown-link icon-left w-inline-block snipcss0-6-101-105" tabindex="0"><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d1865b_badges-component-icon-dashdark-webflow-template.svg" loading="eager" alt="Badges - Dashdark X Webflow Template" class="max-w-20px snipcss0-7-105-106">
                    <div class="snipcss0-7-105-107">Badges</div>
                  </a><a href="/component-library/dropdowns" class="sidebar-dropdown-link icon-left w-inline-block snipcss0-6-101-108" tabindex="0"><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d18659_dropdowns-component-icon-dashdark-webflow-template.svg" loading="eager" alt="Dropdowns - Dashdark X Webflow Template" class="max-w-20px snipcss0-7-108-109">
                    <div class="snipcss0-7-108-110">Dropdowns</div>
                  </a><a href="/component-library/cards" class="sidebar-dropdown-link icon-left w-inline-block snipcss0-6-101-111" tabindex="0"><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d1865a_cards-component-icon-dashdark-webflow-template.svg" loading="eager" alt="Cards - Dashdark X Webflow Template" class="max-w-20px snipcss0-7-111-112">
                    <div class="snipcss0-7-111-113">Cards</div>
                  </a><a href="/component-library/layout" class="sidebar-dropdown-link icon-left w-inline-block snipcss0-6-101-114" tabindex="0"><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d1865d_layout-component-icon-dashdark-webflow-template.svg" loading="eager" alt="Layout - Dashdark X Webflow Template" class="max-w-20px snipcss0-7-114-115">
                    <div class="snipcss0-7-114-116">Layout</div>
                  </a></div>
              </nav>
            </div>
            <div class="sidebar-divider snipcss0-3-15-117"></div>
            <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b50419758" class="dropdown-wrapper sidebar-dropdown w-dropdown snipcss0-3-15-118">
              <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle snipcss0-4-118-119" id="w-dropdown-toggle-7" aria-controls="w-dropdown-list-7" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0" >
                <div class="flex snipcss0-5-119-120">
                  <div class="dashdark-custom-icon sidebar-link-icon snipcss0-6-120-121"></div>
                  <div class="text-200 sidebar-dropdown-text snipcss0-6-120-122" >Settings</div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow snipcss0-5-119-123" ></div>
              </div>
              <nav class="sidebar-dropdown-list-wrapper w-dropdown-list snipcss0-4-118-124 style-g3C65" id="w-dropdown-list-7" aria-labelledby="w-dropdown-toggle-7">
                
              </nav>
            </div>
            <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b5041976b" class="dropdown-wrapper sidebar-dropdown w-dropdown snipcss0-3-15-130">
              <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle snipcss0-4-130-131" id="w-dropdown-toggle-8" aria-controls="w-dropdown-list-8" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0" >
                <div class="flex snipcss0-5-131-132">
                  <div class="dashdark-custom-icon sidebar-link-icon snipcss0-6-132-133"></div>
                  <div class="text-200 sidebar-dropdown-text snipcss0-6-132-134" >Template pages</div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow snipcss0-5-131-135" ></div>
              </div>
              <nav class="sidebar-dropdown-list-wrapper w-dropdown-list snipcss0-4-130-136 style-s7Bnb" id="w-dropdown-list-8" aria-labelledby="w-dropdown-toggle-8">
               
              </nav>
            </div>
            <div data-hover="false" data-delay="0" data-w-id="8902ab60-ff18-1ad1-7b19-201b5041977e" class="dropdown-wrapper sidebar-dropdown w-dropdown snipcss0-3-15-142">
              <div class="dropdown-toggle sidebar-dropdown w-dropdown-toggle snipcss0-4-142-143" id="w-dropdown-toggle-9" aria-controls="w-dropdown-list-9" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0" >
                <div class="flex align-center gap-column-8px snipcss0-5-143-144"><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d185df_john-carter-sidebar-avatar-dashdark-webflow-ecommerce-template.jpg" loading="eager" alt="John Carter - Dashdark X Webflow Template" class="avatar-circle _01 snipcss0-6-144-145" >
                  <div class="sidebar-user-text-container snipcss0-6-144-146" >
                    <div class="text-200 sidebar-dropdown-text color-neutral-100 snipcss0-7-146-147" >John Carter</div>
                    <div class="text-100 sidebar-dropdown-text color-neutral-400 snipcss0-7-146-148">Account settings</div>
                  </div>
                </div>
                <div class="line-rounded-icon sidebar-dropdown-arrow snipcss0-5-143-149" ></div>
              </div>
              <nav class="sidebar-dropdown-list-wrapper sidebar-account-settings-list w-dropdown-list snipcss0-4-142-150 style-nSlUs" id="w-dropdown-list-9" aria-labelledby="w-dropdown-toggle-9">
                <div class="flex-vertical snipcss0-5-150-151">
                  <div class="grid-1-column gap-row-16px snipcss0-6-151-152"><a id="w-node-_8902ab60-ff18-1ad1-7b19-201b5041978c-504196ac" href="/coming-soon" class="font-icon-left-link w-inline-block snipcss0-7-152-153" tabindex="0">
                      <div class="dashdark-custom-icon snipcss0-8-153-154"></div>
                      <div class="text-100 medium snipcss0-8-153-155">View profile</div>
                    </a><a id="w-node-_8902ab60-ff18-1ad1-7b19-201b50419791-504196ac" href="/coming-soon" class="font-icon-left-link w-inline-block snipcss0-7-152-156" tabindex="0">
                      <div class="dashdark-custom-icon snipcss0-8-156-157"></div>
                      <div class="text-100 medium snipcss0-8-156-158">Profile settings</div>
                    </a><a id="w-node-_8902ab60-ff18-1ad1-7b19-201b50419796-504196ac" href="/coming-soon" class="font-icon-left-link w-inline-block snipcss0-7-152-159" tabindex="0">
                      <div class="dashdark-custom-icon snipcss0-8-159-160"></div>
                      <div class="text-100 medium snipcss0-8-159-161">Notifications</div>
                    </a></div>
                  <div class="sidebar-account-settings-divider snipcss0-6-151-162"></div>
                  <div class="grid-1-column gap-row-16px snipcss0-6-151-163"><a id="w-node-_8902ab60-ff18-1ad1-7b19-201b5041979d-504196ac" href="/coming-soon" class="font-icon-left-link w-inline-block snipcss0-7-163-164" tabindex="0">
                      <div class="dashdark-custom-icon snipcss0-8-164-165"></div>
                      <div class="text-100 medium snipcss0-8-164-166">Help center</div>
                    </a><a id="w-node-_8902ab60-ff18-1ad1-7b19-201b504197a2-504196ac" href="/coming-soon" class="font-icon-left-link w-inline-block snipcss0-7-163-167" tabindex="0">
                      <div class="dashdark-custom-icon snipcss0-8-167-168"></div>
                      <div class="text-100 medium snipcss0-8-167-169">Support</div>
                    </a><a id="w-node-_8902ab60-ff18-1ad1-7b19-201b504197a7-504196ac" href="/coming-soon" class="font-icon-left-link color-red-300 w-inline-block snipcss0-7-163-170" tabindex="0">
                      <div class="dashdark-custom-icon snipcss0-8-170-171"></div>
                      <div class="text-100 medium snipcss0-8-170-172">Log out</div>
                    </a></div>
                </div>
              </nav>
            </div>
            <div class="sidebar-btn-wrapper snipcss0-3-15-173" >
              <div data-w-id="8902ab60-ff18-1ad1-7b19-201b504197ad" class="flex-vertical snipcss0-4-173-174"><a href="#" class="btn-primary large w-inline-block snipcss0-5-174-175">
                  <div class="flex-horizontal gap-column-8px snipcss0-6-175-176">
                    <div class="snipcss0-7-176-177">Get template</div><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d185e1_btn-arrow-right-dashdark-webflow-template.svg" loading="eager" alt="" class="btn-icon-right max-h-16px snipcss0-7-176-178">
                  </div>
                </a></div>
            </div>
          </nav><a href="#" class="sidebar-logo-link show-on-tablet w-nav-brand snipcss0-2-14-179" aria-label="home"><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d185d7_logo-dashdark-webflow-template.svg" loading="eager" alt="Dashdark X Webflow Template - Logo" class="snipcss0-3-179-180"></a>
          <div class="hamburger-menu-wrapper w-nav-button snipcss0-2-14-181 style-NFVdM" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false" id="style-NFVdM">
            <div class="sidebar-mobile-menu-icon-wrapper snipcss0-3-181-182"><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d185e4_sidebar-mobile-collapse-icon-left-dashdark-webflow-template.svg" loading="eager" alt="" class="sidebar-mobile-menu-icon left snipcss0-4-182-183"><img src="https://assets-global.website-files.com/654e69597ba3f3b597d1832d/654e695a7ba3f3b597d185e3_sidebar-mobile-collapse-icon-right-dashdark-webflow-template.svg" loading="eager" alt="" class="sidebar-mobile-menu-icon right snipcss0-4-182-184"></div>
          </div>
        </div>
      </div>
      <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
    </div>
    <div class="dashboard-main-section">
      <div class="sidebar-spacer" ></div>